//***** Background color variables *****//
$backcolor: #3f51b5;
$backcolor1: white;
$backcolor2: darkcyan;
$backcolor3: #303030;

//***** Grid color variables *****//
$GridbackgroundColor2: #f7f7f8;
$GridbackgroundColor1: #e8a726;

//***** Button color variables *****//
$BTN1: #57590ff5;
$BTN2: red;

//***** Text color variables *****//
$textColor1:white;
$textColor2:red;
$textColor3:black;
$textColor4:#3f51b5;

//***** Fields color variables *****//
$inputColor1:#5e6c2f;










// $backcolor: #3f51b5;
// $backcolor1: white;
// $backcolor2: darkcyan;
// $backcolor3: #303030;

// $GridbackgroundColor2: #f7f7f8;
// $GridbackgroundColor1: #e8a726;

// $BTN1: #57590ff5;
// $BTN2: red;

// $textColor1:white;
// $textColor2:red;
// $textColor3:black;


// $inputColor1:#5e6c2f;