<!-- 
  <mat-toolbar color="primary" style="height: 30px;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>{{icon_module}}</mat-icon>
    </button>
    <span>{{name_module}}</span>
    <span class="example-spacer"></span>
    <button mat-raised-button color="warn"
      [routerLink]="['../', controller]" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact:true}">
      Add
    </button>
    
  </mat-toolbar> -->
<div style="display: flex; justify-content: flex-end;margin-top: -34px;margin-right: 10px;">
  <button mat-raised-button color="warn" (click)="add()">Add</button>
</div>


<div style="margin-top: 10px;">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
    <div fxFlex="30">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput [(ngModel)]="Seacrchmodel.filter" (input)="onSearchChange()">
      </mat-form-field>
    </div>
  </div>
</div>


<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef style="padding-right: 10px;">
        <span style="font-size: 14px; font-family: inherit;color:black"  >
          {{column}}</span>
          <button (click)="getSortableColumns(column)" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" style="margin-right: -10px;" 
            *ngIf="column !='ACTION'">
            <mat-icon style="color:#84125d">arrow_downward</mat-icon>
          </button>
      </th>

      <td mat-cell *matCellDef="let element" style="padding-right: 10px;">
        <ng-container *ngIf="column =='ACTION'">
          <!-- <mat-icon style="color:#84125d">remove_red_eye</mat-icon>
              <mat-icon style="color:#3f51b5">edit</mat-icon>
              <mat-icon style="color:red">delete</mat-icon>
              <mat-icon style="color:#126026"> print</mat-icon> -->
          <button (click)="edit(element['PID'],false)" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" style="margin-right: -10px;">
            <mat-icon style="color:#84125d">remove_red_eye</mat-icon>
          </button>
          <button (click)="edit(element['PID'],true)" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" style="margin-right: -10px;">
            <mat-icon style="color:#3f51b5">edit</mat-icon>
          </button>
          <button (click)="delete(element['PID'])" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon" style="margin-right: -10px;">
            <mat-icon style="color:red">delete</mat-icon>
          </button>
          <button (click)="print(element['PID'])" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon style="color:#126026"> print</mat-icon>
          </button>
        </ng-container>
        <ng-container *ngIf="column !='ACTION'">{{element[column]}} </ng-container>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">

    </tr>
  </table>
</div>

<div style="margin-top: 10px;">
  <mat-card style="padding: 0px;">
    <mat-paginator [pageSize]="5" [pageSizeOptions]="[5,6,7,8,9, 10,11,12, 25, 100]" aria-label="Select page">
    </mat-paginator>
  </mat-card>
</div>