@import "/src/assets/Style/VariableStyles.scss";

.example-spacer {
  flex: 1 1 auto;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;

}

tr.mat-header-row {
  height: 30px;
  background-color: $GridbackgroundColor1;
}

tr.mat-row {
  height: 30px;
}

.mat-row:nth-child(even) {
  background-color: $GridbackgroundColor2;
}


///////////////////////////////////////////////////////////
/// 
table {
  width: 100%;
}

.mat-column-ACTION {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 20% !important;
  width: 20% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}