<div class="container vh-70" style="width: 600px;">
    <div class="row justify-content-center h-100 v-50">
        <div class="card my-auto shadow">
            <div class="card-body px-5">
                <div class="text-center" style="padding-bottom: 10px;">
                    <div class="col-md-12">
                        <div class="error-template">
                            <h1>Oops!</h1>
                            <h2>404 Not Found</h2>
                            <div class="error-details">
                                Sorry, an error has occured, Requested page not found!
                            </div>
                            <div class="error-actions" style="padding-top: 10px;">
                                <a [routerLink]="['./', 'dashboard']" 
                                routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" class="btn btn-primary btn-lg">
                                <span class="">
                                    Take Me Home
                                </span></a>
                                <a routerLink="./dashboard" class="btn btn-default btn-lg"><span class="">
                                    Contact Support
                                </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>