@import "/src/assets/Style/VariableStyles.scss";

// Start drop down scrollbar style
::ng-deep .mat-select-panel::-webkit-scrollbar {
    width: 5px;
    overflow-y: scroll;
    background: $backcolor1;
}
::ng-deep .mat-select-panel::-webkit-scrollbar-thumb {
    background: $backcolor;
    border-radius: 10px;
}

//end

// ::-webkit-scrollbar {
//     width: 4px;
//     overflow-y: scroll;
//     background: #3f51b5;
//     box-shadow: inset 0 0 4px #3f51b5;
//     cursor: pointer;
// }

// ::-webkit-scrollbar-thumb {
//     background: #3f51b5;
//     border-radius: 10px;
// }

::ng-deep .mat-expansion-panel-header {
    padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
    margin-right: 10px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
    height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
    padding-left: 0px !important;
}

::ng-deep .mat-nav-list .is-active {
    background-color: $backcolor !important;
    border-left: 8px solid $backcolor;
    width: calc(100% - 8px) !important;
    ;
}



::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
    padding: 0 8px;
}

::ng-deep .mat-focused .mat-form-field-label {
    /*change color of label*/
    color: $backcolor !important;
}

::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: $backcolor !important;
}

::ng-deep.mat-form-field-ripple {
    /*change color of underline when focused*/
    background-color: $backcolor !important;
}

::ng-deep .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    height: 30px;
    margin: 5px;
}


// Radio css add here
:host ::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle,
.mat-radio-outer-circle {
    border-color: $backcolor !important;
    /* Sets outer circle & click effect color */
}

:host ::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
    background-color: $backcolor !important;
    /* Sets inner circle color */
}

::ng-deep .mat-radio-outer-circle {
    height: 15px !important;
    width: 15px !important;
    top: 3px !important;
    border-width: 2px !important;
    border-color: $backcolor !important;
}

::ng-deep .mat-radio-inner-circle {
    height: 15px !important;
    width: 15px !important;
    top: 3px !important;
}

//Add CSS for Mat card
::ng-deep .mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 5px 0px $backcolor;

}

/////////////////////////
::ng-deep .mat-dialog-container {
    display: block;
    padding: 10px;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
    width: 100%;
    height: 100%;
    min-height: inherit;
    max-height: inherit;
}

////////////////////
::ng-deep .uppercase {
    text-transform: uppercase;
}

///////
::ng-deep .mat-stepper-horizontal .mat-horizontal-stepper-header {
    padding: 5px;
    height: auto;
}

::ng-deep .mat-stepper-horizontal .mat-stepper-horizontal-line {
    margin: 0 -4px;
    max-width: 50px;
}

::ng-deep .mat-horizontal-stepper-header-container {
    white-space: nowrap;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    /* margin-bottom: 8px; */
}

// Added css for input width
::ng-deep mat-form-field {
    width: 100%;
}


//****************************************************************************************//
//style for outline input on 20/05/2023
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
}



//input outline color
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: $inputColor1!important;
    // opacity: 1!important;
}

//mat-input focused color
::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: $backcolor!important;
}

// mat-input error outline color
::ng-deep .mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick{
    color: $textColor2!important;
    opacity: 0.8!important;
}

// mat-input carent color
::ng-deep .mat-input-element {
    caret-color: $textColor3!important;
}

// mat-input error carent color
::ng-deep .mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: $textColor2!important;
}

// mat-label normal state style
::ng-deep .mat-form-field-label {
    color: $textColor3!important;
    // color: $mainColor!important;
}

// mat-label focused style
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color: $backcolor!important;
}

// mat-label error style
::ng-deep .mat-form-field.mat-form-field-invalid .mat-form-field-label {
    color: $textColor2!important;
}


// end


//****************************************************************************************//
//style for mini button on 20/05/2023
::ng-deep .nxt_bck {
    margin-right: 1vw;
    background: #57590ff5;
    color: white;
    line-height: 30px;
    height: auto;
    width: auto;
  }

//****************************************************************************************//
//style for mat from field gaps on 20/05/2023
  ::ng-deep .mat-form{
    height: 39px;
    margin-bottom: 10px;
    margin-right: 8px;
}


    