
<div class="container vh-100" style="width: 600px;">
    <div class="row justify-content-center h-100 v-50">
        <div class="card my-auto shadow">
        <div class="card-body px-5">
            <div class="text-center" style="padding-bottom: 10px;">
                <!-- <fa-icon [icon]="falock" class="fa-3x"></fa-icon> -->
                <div class="text-center">
                    <h2>Forgot Password</h2>
                </div>
                <p style="color: lightslategray; text-align: center;">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please enter your registerd Email
                    where we will send you the reset password link
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </p>
                <form>
                    <div class="form-group" style="padding-bottom: 10px;">
                        <input type="email" id="email" placeholder="Email Address" class="w-100"
                         name="Email Address"/>
                    </div>
                    
                    <input type="submit" class="btn btn-primary w-100" value="Reset Password Link"/>
                </form>
            </div>
            <div class="card-footer text-center">
                <small>Ohh !remember <a routerLink="../login">Back to Login</a></small>
            </div>
        </div>
        </div>
    </div>
</div>