<mat-toolbar color="primary" style="height: 30px;">
    <mat-icon>delete</mat-icon>
    <span>Confirmation</span>
    <span class="example-spacer"></span>
    <div class="collapse navbar-collapse"  style="display: flex; justify-content: flex-end">
        <mat-icon (click)="dialogRef.close('NO')">close</mat-icon>  
    </div>
</mat-toolbar>

<br><br>
<div class="collapse navbar-collapse"  style="display: flex; justify-content: center">
    <h1>Do you want to delete this records? </h1> 
</div>
  
<br><br>
<footer class="sticky-modal-footer" style="display: flex; justify-content: flex-end">
<button mat-raised-button color="primary" style="margin-right: 10px;" (click)="dialogRef.close('YES')">YES</button>
    <button mat-raised-button color="warn" (click)="dialogRef.close('NO')">NO</button>
</footer>